@media (max-width: 1300px) {
  .section-contact__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .pop-up {
    height: auto;
  }
  .pop-up__wrapper {
    align-items: flex-start;
  }
  .pop-up--img,
  .pop-up--video {
    align-self: flex-start;
  }
  .pop-up--img {
    width: 40rem;
    height: auto;
  }
}

@media (max-width: 1050px) {
  .section-projects__container {
    width: 25rem;
  }
  .section-projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pop-up--img {
    width: 40rem;
  }
  .pop-up__wrapper {
    flex-wrap: wrap;
  }
  .pop-up {
    padding-inline: 10rem;
    padding-block: 10rem;
  }
}

@media (max-width: 800px) {
  .header--logo {
    height: 50%;
  }
  .header #languageBtn {
    font-size: 2rem;
  }

  .section-projects {
    padding-inline: 10rem;
  }

  .header__list-item a {
    font-size: 1.7rem;
  }

  .section-hero--title {
    font-size: 3rem;
    top: 15rem;
    left: 7rem;
    text-align: center;
  }

  .section-about {
    grid-template-columns: 1fr;
  }

  .section-about--img {
    padding-inline: 3rem;
  }

  .section-about__container {
    padding-inline: 3rem;
  }
  .section-contact__container {
    padding-inline: 4rem;
  }

  .section-contact__container iframe {
    width: 40rem;
  }
  .section-contact__container {
    flex-direction: column;
  }

  .section-projects__container {
    width: 35rem;
  }
}

@media (max-width: 580px) {
  .pop-up {
    padding: 4rem 4rem;
  }
  .header__list {
    display: none;
  }

  .section-hero--title {
    font-size: 3rem;
    position: static;
  }

  .section-contact__container {
    flex-direction: column;
    gap: 2rem;
  }

  .section-hero--icon {
    transform: translateY(5rem);
  }

  .section-about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .section-contact__container iframe {
    width: 40rem;
  }

  .footer {
    padding-inline-start: 1rem;
  }
  .footer__nav a {
    padding-inline: 1.5rem;
  }
  .header--logo {
    transform: none;
  }
}

@media (max-width: 470px) {
  .section-projects {
    padding-inline: 2rem;
  }

  .section-hero--title {
    font-size: 1.8rem;
    max-width: 80%;
    word-wrap: break-word;
  }
  .section-contact__container iframe {
    width: 30rem;
  }
  .pop-up--img {
    height: 30rem;
  }
}

@media (max-width: 390px) {
  .section-contact__container iframe {
    width: 25rem;
  }
}
