$colors: (
  "light": #fafafa,
  "light-2": #f3f3f3,
  "light-3": #e9e9e9,
  "dark": #121212,
  "dark-2": #222,
  "dark-3": #333,
  "primary": #003cd7,
  "primary-light": #6eaec9,
  "primary-dark": #001c6a,
  "background":#f0f2fe,
  "background-2":#e1e4fa,
  "logo-background": #07225D,
);

$font-sizes: (
  "xs": 1.2rem,
  "sm": 1.4rem,
  "base": 1.6rem,
  "l": 2rem,
  "xl": 2.4rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
  "xxxxl": 4rem,
  "xxxxxl": 8.6rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
