* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 70%;
  font-size: 1.6rem;
}

.main {
  width: 100%;
  height: 100%;
}

.footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  text-align: center;
}

header.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header.header .header__nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #121212;
  gap: 2rem;
  justify-content: center;
}
header.header .header__nav__item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #fafafa;
  height: min-content;
  padding-inline: 1rem;
  padding-block: 2rem;
}
header.header .header__nav__item-icon {
  fill: #fafafa !important;
  width: 16px;
  height: 16px;
}
header.header img {
  height: 100px;
  aspect-ratio: 20/7;
  object-fit: contain;
  align-self: center;
  padding: 2rem 6rem;
}

.section-hero {
  background-color: #e9e9e9;
  color: #333;
}
.section-hero-title {
  text-transform: capitalize;
  text-align: center;
  background-image: url("../assets/img/background.webp");
  background-repeat: no-repeat;
  padding: 20rem 10rem;
  color: #fafafa;
  font-size: 8rem;
}
.section-hero__content {
  display: flex;
  justify-content: center;
}
.section-hero__content-wrapper {
  display: flex;
  position: relative;
  transform: translateY(-7rem);
  background-color: #fafafa;
  max-width: 80%;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(110, 110, 110);
  justify-content: space-evenly;
}
.section-hero__content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
.section-hero__content__item-icon {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  fill: #333;
}
.section-hero__content__item-title {
  margin-bottom: 1.2rem;
  font-size: 2.2rem;
  font-weight: 500;
}
.section-hero__content__item p {
  width: 70%;
  text-transform: none;
  word-wrap: normal;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.8rem;
}

.vcard {
  background-color: #121212;
  height: 100vh;
  backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.vcard-title {
  font-size: 3.2rem;
  color: #fafafa;
  font-weight: 400;
  padding: 2rem;
  background-color: #080c84;
  border-radius: 1.1rem;
  text-align: center;
}
.vcard__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  width: 75%;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 5rem;
}
.vcard__content-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.vcard__content-top__left {
  display: flex;
  align-items: center;
}
.vcard__content-top__icon {
  width: 3rem;
  height: 3rem;
  transition: all 1s;
  fill: #222;
}
.vcard__content-bottom {
  visibility: hidden;
  height: 0;
}
.vcard__content-bottom-link {
  color: #121212;
  text-decoration: none;
  font-weight: 400;
}
.vcard__content.open {
  gap: 2rem;
}
.vcard__content.open .vcard__content-bottom {
  visibility: visible;
  height: 100%;
}
.vcard__content.open .vcard__content-top__icon.chevron {
  transform: rotateZ(180deg);
}
.vcard-button {
  padding-block: 2rem;
  padding-inline: 5rem;
  background-color: #080c84;
  text-align: center;
  border-radius: 1.1rem;
  color: #fafafa;
  font-size: 2.4rem;
}
