.vcard {
  background-color: map-get($colors, dark);
  height: 100vh;
  backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  &-title {
    font-size: map-get($font-sizes, xxl);
    color: map-get($colors, light);
    font-weight: map-get($font-weights, regular);
    padding: 2rem;
    background-color: map-get($colors, primary);
    border-radius: 1.1rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: map-get($colors, light);
    width: 75%;
    border-radius: 0.5rem;
    padding-block: 1rem;
    padding-inline: 5rem;

    &-top {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: map-get($font-sizes, l);

      &__left {
        display: flex;
        align-items: center;
      }

      &__icon {
        width: 3rem;
        height: 3rem;
        transition: all 1s;
        fill: #222;
      }
    }

    &-bottom {
      visibility: hidden;
      height: 0;

      &-link {
        color: map-get($colors, dark);
        text-decoration: none;
        font-weight: map-get($font-weights, regular);
      }
    }

    &.open {
      gap: 2rem;
      .vcard__content-bottom {
        visibility: visible;
        height: 100%;
      }

      .vcard__content-top__icon.chevron {
        transform: rotateZ(180deg);
      }
    }
  }

  &-button {
    padding-block: 2rem;
    padding-inline: 5rem;
    background-color: map-get($colors, primary);
    text-align: center;
    border-radius: 1.1rem;
    color: map-get($colors, light);
    font-size: map-get($font-sizes, xl);
  }
}
