.pop-up {
  &__wrapper {
    flex-direction: column;
    height: fit-content;
    @media (max-width: 1050px) {
      flex-wrap: nowrap;
    }
  }
  iframe {
    height: 40rem;
    width: 100%;
    @media (max-width: 450px) {
        height: 20rem;
    }
  }

  @media (max-width: 600px) {
    padding: 5rem 5rem;
  }
}
