// super duper css code(i have no idea what output this will produce)
html {
  --s: 40px; /* control the size */
  
  --c: #0000 75%,#09226d 0;
  --g1: conic-gradient(at 75% 25%,var(--c));
  --g2: conic-gradient(at 25% 75%,var(--c));
  background: 
    var(--g1),var(--g1) var(--s) var(--s),
    var(--g2),var(--g2) var(--s) var(--s) #5565b7;
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

.footer {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: map-get($colors, light);

  &__content {
    display: flex;
    height: 70%;
    width: 100%;
  }
  &__nav {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    a {
      font-size: map-get($font-sizes, m);
      color: map-get($colors, light-1);
      text-decoration: none;
    }
  }
  &__socials {
    display: flex;
    flex-direction: column;
    a {
      width: 3rem;
      height: 3rem;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: map-get($colors, light-1);
  }
}
