header.header {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header__nav__logo-wrapper {
    object-fit: contain;
    align-self: center;
    .header__nav__logo {
      height: 90px;
      aspect-ratio: 20/7;
      padding: 2rem 6rem;
    }
  }
}
