.section-media {
  height: 100vh;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/img/media.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--title {
    color: map-get($colors, light);
  }

  &--text {
    width: 50%;
    text-align: center;
    font-size: map-get($font-sizes, xl);
    color: map-get($colors, light);
    font-weight: map-get($font-weights, regular);
  }
}
