.section-about {
  display: grid;
  background-color: #6096b4;
  padding-block: 2rem;

  &__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-inline: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80%;
    gap: 2rem;

    &--title {
      width: fit-content;
      text-align: center;
      align-self: center;
      color: map-get($colors, light-1);
    }

    &--text {
      font-size: map-get($font-sizes, m);
      color: map-get($colors, light-1);
    }
  }

  &--img {
    height: 80%;
  }
}
