.section-about {
  background-image: url("../assets/img/section-about.webp");
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--title {
    color: map-get($colors, light);
    font-size: map-get($font-sizes, xxxxl);
    margin-bottom: 3rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: map-get($font-sizes, xl);
    color: map-get($colors, light);
    max-width: 40%;
  }
}
