.section-consulting {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/img/section-consulting.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: map-get($colors, light);

  &--text {
    width: 50%;
    text-align: center;
    font-size: map-get($font-sizes, xl);
  }
}
