.section-references {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5rem;

  &__container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__content {
      height: fit-content;
      background-color: transparent;
      width: 100%;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 5%;
      place-items: center;
      transition: transform 0.4s ease;
    }
  }

  &--chevron {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: map-get($colors, light);
    border-radius: 100%;
    top: 50%;
    padding: 2rem;
    transform: translateY(-50%);
    z-index: 4;
    transition: all 250ms ease;
    transform-origin: center;

    &:hover {
      cursor: pointer;
      transform: translateY(-50%) scale(1.1);
    }

    &:first-child {
      left: 2vw;
    }

    &:last-child {
      left: 93vw;
    }

    svg {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      stroke: map-get($colors, primary-light);
      transform-origin: center;
    }
  }

  &--img {
    width: 8vw;
    height: auto;
    object-fit: contain;
  }
}
